.goback{
    float:right;
    margin-right:120px;
    margin-top:-58px;
}

.page-header{
    // font-size:22px;
    border-bottom:1px dashed #dedede!important;
}

.detailpage-wrapper {
    .goback{
        margin-right:0;
    }
}
