.goback{
    float:right;
    margin-right:120px;
    margin-top:-58px;
}

.page-header{
    border-bottom:1px dashed #dedede!important;
}

.detailpage-wrapper, .nobtn-wrapper{
    .goback{
        margin-right:0;
    }
}
